@use '../../../shared/utils/mixins.scss' as *;

.buttons {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 8px;
}

.cart {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--accent);
  width: 160px;
  height: 40px;

  font-weight: 700;
  font-size: 14px;
  line-height: 150%;
  text-align: center;
  color: var(--gray-white);
  cursor: pointer;
  transition: var(--transition);

  &:hover {
    background: var(--accent-hover);
  }

  @include respond-to(tablet) {
    width: 125px;
  }

  @include respond-to(mobile) {
    width: 100px;
  }
}

.favorite {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: var(--gray-surface-2);
  cursor: pointer;

  & img {
    cursor: pointer;
  }

  &:hover {
    background: var(--gray-icons-placeholders);
    transition: var(--transition-background);
  }
}
