.category__item {
  transition: var(--transition);

  &:hover {
    transform: var(--scale);
  }
}

.category__img {
  display: flex;
  width: 368px;
  height: 368px;
  margin-bottom: 24px;
}

.category__title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 20px;
  color: var(--gray-white);
  margin-bottom: 4px;

  &::first-letter {
    text-transform: uppercase;
  }
}

.category__subt_itle {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 14px;
  line-height: 150%;
  color: var(--gray-secondary);
}
