@use "../../../shared/utils/mixins.scss" as *;

.category {
  flex: 1;
  aspect-ratio: 1 / 1;
  cursor: pointer;

  &__img {
    width: 100%;
    transition: var(--transition);
    cursor: pointer;
  }

  &__title {
    margin-top: 24px;
    font-weight: 700;
    font-size: 20px;
    text-transform: capitalize;
    cursor: pointer;
  }

  &__subtitle {
    margin-top: 4px;
    font-weight: 600;
    font-size: 14px;
    line-height: 150%;
    color: var(--gray-secondary);
  }

  &:hover {
    .category__img {
      transform: scale(1.02);
    }
  }
}
