.back {
  cursor: pointer;

  display: flex;
  gap: 4px;
  align-items: center;

  margin-bottom: 16px;

  font-size: 12px;
  font-weight: 700;
  color: var(--gray-white);

  &::before {
    content: '';

    display: inline-flex;

    width: 16px;
    height: 16px;

    background-image: url('../../../public/img/icons/arrow-left.svg');
  }
}

.name {
  margin-bottom: 40px;

  font-size: 32px;
  font-weight: 800;
  line-height: 128%;
  color: var(--gray-white);
  letter-spacing: -0.01em;
}

.slider_wrapper {
  display: flex;
  gap: 64px;
}
