.panel {
  display: flex;
  gap: 16px;
  margin-top: 40px;
}

.title {
  font-size: 12px;
  font-weight: 700;
  color: var(--gray-secondary);
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
